body:not(body *) {
    --logoyellow: #dbae00;
    --logoyellowlight: #ffce0f;
    --logoblue: #183973;
    --logobluelight: #214e9d;

    display: flex;
    flex-direction: column;

    margin: 0px;

    min-height: 100vh;

    font-family: monospace;
    font-size: 120%;
}
    .interactable {
        margin: 5px;
        border: 2px solid var(--logoyellow);
        border-radius: 5px;
        padding: 5px;
        transition: transform 0.1s;
    }
        .interactable:hover {
            transform: rotate(5deg);
            border: 2px solid black;
            cursor: pointer;
        }
    header {
        display: flex;
        flex-direction: row;

        align-items: center;

        background-color: var(--logoblue);
    }
        header > img {
            image-rendering: pixelated;

            height: 60px;
            width: 60px;

            margin: 0px 10px 0px 10px;
            border: 2px solid var(--logoyellow);
            border-radius: 5px;

            background-color: white;
        }
        header > h1 {
            flex: 1;
            transition: transform 0.1s;

            color: white;
        }
            header > h1:hover {
                transform: rotate(2deg);
            }
        #settings_button {
            margin-right: 15px;
        }
            #settings_button > img {
                image-rendering: pixelated;
                height: 30px;
                width: 30px;
            }
    nav {
        display: flex;
        flex-direction: row;

        background-color: var(--logobluelight);
    }
        nav > div {
            flex: 1;
            background-color: white;
            text-align: center;
        }
            nav > div:hover {
                transform: rotate(2deg);
            }
    main {
        flex: 1;

        display: flex;
        flex-direction: column;
    }
        /* forecast */
            #days {
                flex: 1;

                display: flex;
                flex-direction: column;
            }
                #days > div {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    overflow: hidden;
                    
                    padding: 10px 10px 10px 10px;
                    margin: 5px 5px 5px 5px;
                    border-radius: 5px;
                    align-items: center;
                    
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border: 2px solid black;
                }
                    #days > div.current {
                        font-weight: bolder;
                        font-style: italic;
                        border: 3px solid var(--logoyellow);
                    }
                    #days > div > div {
                        flex: 1;
                        padding: 0px 10px 0px 10px;
                    }
                    #days > div > img {
                        width: 30px;
                        height: 30px;
                        margin: 0px 5px 0px 5px;
                        image-rendering: pixelated;
                    }
                    #weekday {
                        font-size: 150%;
                    }
        /* history */
            #date {
                align-self: flex-start;
            }
            #charts {
                display: flex;
                flex-direction: row;
            }
            #charts > canvas {
                width: 50% !important;
                height: 50% !important;
            }
    footer a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--logoblue);
        padding: 5px;
        color: white;
        text-decoration: none;
    }
    /* overlays */
        #settings {
            position: absolute;
            z-index: 1;

            display: none;
            flex-direction: column;

            height: calc(100% - 20px);
            width: calc(100% - 20px);

            padding: 10px;

            background-color: rgba(0, 0, 0, 0.75);
            backdrop-filter: blur(5px);

            color: white;
        }
            #settings_header {
                display: flex;
                flex-direction: row;

                align-items: center;

                margin-bottom: 5px;
            }
                #settings_close_button {
                    margin-right: 5px;
                }
            #settings select:hover {
                transform: rotate(0deg);
            }
        #loading_screen {
            position: absolute;
            z-index: 2;
        
            display: flex;
            flex-direction: column;
        
            align-items: center;
            justify-content: center;
        
            height: calc(100% - 20px);
            width: calc(100% - 20px);
        
            padding: 10px;
        
            background-color: rgba(0, 0, 0, 0.75);
            backdrop-filter: blur(5px);
        
            color: white;
        }
            #loading_screen > img {
                image-rendering: pixelated;
                width: 500px;
                height: 500px;
            }

@media only screen and (max-width: 1080px) {
    #charts {
        flex-direction: column;
    }
        #charts > canvas {
            width: 100% !important;
            height: 100% !important;
        }
        h1 {
            font-size: 90%;
        }
}
