body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    font-family: sans-serif;
}
    header {
        display: flex;
        flex-direction: row;
        background-color: red;
    }
        header img {
            image-rendering: pixelated;
        }
        h1 {
            flex: 1;
        }
        #date {
            flex: 1;
            border: none;
        }
        #settings_button {
            border: none;     
        }
    nav {
        display: flex;
        flex-direction: row;
        background-color: gray;
    }
        nav div {
            flex: 1;
            text-align: center;
        }
            nav div.selected {
                border-bottom: solid 5px red;
            }
            nav div a:hover {
                font-weight: bold;
            }
    main {
        flex: 1;
    }
        #days {
            display: flex;
            flex-direction: row;
            background-color: orange;
        }
        #days div {
            flex: 1;
        }
    footer {
        background-color: green;
    }
    #settings {
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: rgba(0, 0, 0, 0.75);
        color: white;
        padding: 5px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }   
        #settings * {
            padding: 5px;
        }
        #settings_header {
            display: flex;
            flex-direction: row;
        }
            #settings_title {
                flex: 1;
            }
    #loading_screen {
        position: absolute;
        background-color: gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        width: 100%;
        height: 100%;
        z-index: 1;
    }   
        #loading_screen * {
            padding: 5px;
        }
        #loading_screen img {
            width: 200px;
            height: 200px;
        }