img
    image-rendering: pixelated

body
    display: flex
    flex-direction: column
    font-family: sans-serif
    div
        display: flex
        flex-direction: row
        margin: 5px
    #header
        background-color: lavender
    #content
        #day_selection
            flex-direction: column
            #day_cards
                flex-direction: row
                background-color: yellow
                overflow: hidden
                div
                    flex-direction: column
                    background-color: orange
                    &:hover
                        font-size: 125%
            #day_selector
                flex-direction: row
                align-items: center
                background-color: gray
        canvas
            background-color: red