body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    font-family: sans-serif;
}
    header {
        display: flex;
        flex-direction: row;
        background-color: red;
    }
        header > * {
            padding: 5px;
        }
        header img {
            image-rendering: pixelated;
        }
        h1 {
            flex: 1;
        }
        #settings_button {
            border: none;     
        }
    nav {
        display: flex;
        flex-direction: row;
        background-color: gray;
    }
        nav div {
            flex: 1;
            text-align: center;
            cursor: pointer;
            transition: border-bottom 0.1s;
        }
            nav > div.selected {
                border-bottom: solid 5px red;
            }
    main {
        flex: 1;
    }
        #days {
            display: flex;
            flex-direction: row;
            margin-right: 5px;
        }
            #days > div {
                flex: 1;
                margin: 5px 0px 5px 5px;
                border-radius: 5px;
                min-height: 300px;
                padding: 5px;
                background-image: url("images/backgrounds/cloudy.png");
                background-size: 100% auto;
                background-repeat: no-repeat;
                filter: brightness(0.75);
                transition: flex 1s;
                color: white;
                display: flex;
                flex-direction: column;
            }
                #days > div.current {
                    font-weight: bold;
                    font-size: 130%;
                }
                #days > div:hover {
                    flex: 1.25;
                    border: 2.5px solid black;
                    cursor: pointer;
                }
                #day_date {
                    flex: 1;
                }
        #date {
            flex: 1;
            width: 100%;
            border: none;
        }
    footer {
        background-color: green;
    }
    #settings {
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: rgba(0, 0, 0, 0.75);
        color: white;
        padding: 5px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }   
        #settings * {
            padding: 5px;
        }
            #settings_header {
                display: flex;
                flex-direction: row;
            }
                #settings_title {
                    flex: 1;
                }
    #loading_screen {
        position: absolute;
        background-color: gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        width: 100%;
        height: 100%;
        z-index: 1;
    }   
        #loading_screen * {
            padding: 5px;
        }
        #loading_screen img {
            image-rendering: pixelated;
            width: 200px;
            height: 200px;
        }
    #error {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.75);
        color: white;
        padding: 5px;
        border-radius: 5px;
    }
        #error_title {
            font-size: 200%;
        }